# MOLIM PREDICTION CONFIG FILE
# list must be comma separated, with no ' nor " separating items.

[GENERAL]

# the filepath of the pretrained model
model_file_path=./MOBL_AD_test_MODEL.md

# the filepath of the pretrained scaler (for new samples normalization)
scaler_file_path=./MOBL_MODEL_AD_test_SCALER.scl

[INPUT_DATA]
#set the input format. Available formats: csv,json

input_format=json
sample_file_path=./MOBL_AD_test_SAMPLE.json

# same data csv
#input_format=csv
#sample_file_path={path_to_the_dir}/TEST_MODEL_AD/MOBL_AD_test_SAMPLE.csv




