# MOLIM PREDICTION CONFIG FILE
# list must be comma separated, with no ' nor " separating items.

[GENERAL]

# the filepath of the pretrained model
model_file_path={path_to_the_dir}/MOBL_AD_MODEL_DIAGNOSIS_MODEL.md

# the filepath of the pretrained scaler (for new samples normalization)
scaler_file_path={path_to_the_dir}/MOBL_AD_MODEL_DIAGNOSIS_SCALER.scl

#the path containing the feature list 
feature_list_file_path={path_to_the_dir}/MOBL_AD_MODEL_DIAGNOSIS_FEATURES.csv

[INPUT_DATA]

#set the input format. Available formats: csv,json

input_format=csv
sample_file_path={path_to_the_dir}/AD_DIAG_TEST_DATA.csv

# same data json
#input_format=json
#sample_file_path={path_to_the_dir}/AD_DIAG_TEST_DATA.json


[OUTPUT_DATA]
#set the output format. Available formats: csv,json

output_format=csv
result_file_path={path_to_the_dir}/AD_DIAG_TEST_RESULTS.csv
#
#output_format=json
#result_file_path={path_to_the_dir}/AD_DIAG_TEST_RESULTS.json

